@media only screen and (max-width: 800px) {
  .stf-info-app {
    width: 100%;
  }
}

@media only screen and (max-width: 370px) {
  .section-main a span {
    font-size: 24px;
  }
}

/* to display "cards" at desktop size */
@media only screen and (min-width: 960px) {
  .stf-info-logo {
    width: 25%;
    margin: 15px;
  }

  /* .card-style {
    display: inline-block;
    width: 35%;
    margin: 10px;
  }

  .section-main {
    border-radius: 8px;
    padding: 20px;
  } */
}
