.section-main {
  background: 0 0;
  color: #fff;
  border-radius: 0;
  padding: 0;
  border-bottom: solid 4px;
}

.section-main a {
  display: block;
  padding: 20px 5px 20px 10px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.section-main a span {
  font-size: 28px;
  margin-left: 10px;
  cursor: pointer;
}

/* region Connect */
.connect {
  background-color: #0093aa;
  border-color: #007a91;
}

.content-section-connect {
  /*padding: 5px;*/
  padding: 15px;
  /*text-align: left;*/
}

.btn-connect-card {
  color: #0093aa;
  border-color: #0093aa;
}

/*.content-section-connect-title {
  margin: 5px 0 25px 0;
  font-weight: 700;
  color: #4a4a4a;
}

.connect-form-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #7b7b7b;
  margin: 0;
}

.connect-form-label-contact {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #7b7b7b;
  margin: 0 0 10px 0;
}

#connect-input-first-name,
#connect-input-last-name,
#connect-input-email,
#connect-input-phone {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 10px;
}

#connect-input-request {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 100px;
}*/
/* endregion */

/* region Prayer Request */
.prayer-request {
  background-color: #079078;
  border-color: #00775f;
}

.content-section-prayer {
  padding: 15px;
}

.btn-prayer-request {
  color: #079078;
  border-color: #079078;
}
/* endregion */

/* region Happening */
.whats-happening {
  background-color: #cfbf0a;
  border-color: #9c8c00;
}

.content-section-happening {
  /*padding: 15px;*/
}

.content-section-happening-post-wrapper {
  padding-bottom: 30px;
}

.content-section-happening-post-image {
  width: 100%;
}

.content-section-happening-post-title {
  margin: 15px 0 15px 0;
  font-size: 28px;
}

.content-section-happening-post-content {
  text-align: left;
  padding: 0 15px 25px 15px;
  font-size: 18px;
}

.btn-happening {
  color: #cfbf0a;
  border-color: #cfbf0a;
}
/* endregion */

/* region Message */
.message {
  background-color: #005383;
  border-color: #003a6a;
}

.content-section-message {
  padding: 15px;
}

.btn-message {
  color: #005383;
  border-color: #005383;
}
/* endregion */

/* region Groups */
.groups {
  background-color: #900e13;
  border-color: #5d0000;
}

.content-section-groups {
  padding: 15px;
}

.btn-groups {
  color: #900e13;
  border-color: #900e13;
}
/* endregion */

/* region Giving */
.giving {
  background-color: #052536;
  border-color: #000c1d;
}

.content-section-giving {
  padding: 15px;
}

.btn-giving {
  color: #052536;
  border-color: #052536;
}
/* endregion */

/* region Contact */
.contact {
  background-color: #0093aa;
  border-color: #007a91;
}

.content-section-contact {
  padding: 15px;
}

.btn-contact {
  color: #0093aa;
  border-color: #0093aa;
}
/* endregion */
