.section-main {
  background: 0 0;
  color: #fff;
  border-radius: 0;
  padding: 0;
  border-bottom: solid 4px;
}

.section-main a {
  display: block;
  padding: 20px 5px 20px 10px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.section-main a span {
  font-size: 28px;
  margin-left: 10px;
}

/* region Connect */
.connect {
  background-color: #0093aa;
  border-color: #08788a;
}

.content-section-connect {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */

/* region Prayer Request */
.prayer-request {
  background-color: #015383;
  border-color: #053d5f;
}

.content-section-prayer {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */

/* region Happening */
.whats-happening {
  background-color: #da5d00;
  border-color: #9e4604;
}

.content-section-happening {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */

/* region Message */
.message {
  background-color: #198d44;
  border-color: #0f6f33;
}

.content-section-message {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */

/* region Groups */
.groups {
  background-color: #ad1024;
  border-color: #8c0516;
}

.content-section-groups {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */

/* region Giving */
.giving {
  background-color: #68337e;
  border-color: #4f1e63;
}

.content-section-giving {
  padding: 15px;
  border-bottom: 1px dashed black;
}

.btn-giving {
  color: #68337e;
  border-color: #68337e;
}
/* endregion */

/* region Contact */
.contact {
  background-color: #ecce01;
  border-color: #ad9004;
}

.content-section-contact {
  padding: 15px;
  border-bottom: 1px dashed black;
}
/* endregion */
